## Scales in data
### Ratio Scale: 
   - units are equally spaced<br>
   - operation like + - / * are valid<br>
   - e.g. height, weight, prices

### Intervale scale
- units are equaly spaced, but there is no true zero (as defined by lack of number = neutral v/s an add operation)
- e.g. temperature (0 degree celcius is a value like 1 or 10.., similarly compass degres for orientation)

### Ordinal Scale
- the order of the units is important but they are not equally spaced
- exams grades like (A,A+,A-, B, C, D etc), or companies ratings (AAA, AA+, AA, AA- etc.. )

### Nominal Scale (categorical)
- categories of data, but not mathematical operation nor ordering
- classes of items, binary (true/false), industries/sectors classification

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D'],
                 index = ['excellent','excellent','excellent','good','good','good','ok','ok','ok','poor','poor'])
df.rename (columns={0:'Grades'},inplace=True)
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

### Instruct pandas to type the Grades as Categories

First we cast the values into a category, this is the equivalant of Enum in Java, without the ordering though

In [9]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

To add the ordering, you just need to set ordered as True

In [10]:
grades = df['Grades'].astype('category', categories = ['D','D+', 'C-', 'C','C+','B-','B','B+','A-','A','A+'],ordered=True)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

In [11]:
grades>'C'

excellent     True
excellent     True
excellent     True
good          True
good          True
good          True
ok            True
ok           False
ok           False
poor         False
poor         False
Name: Grades, dtype: bool

In [12]:
## Difference between grades.max, and max(grades) -- same for min
print(grades.max(),grades.min())
print(max(grades),min(grades))

A+ D
D+ A

reducing dimensions

In [13]:
s = pd.Series([168, 180, 174, 190, 170, 185, 179, 181, 175, 169, 182, 177, 180, 171])
pd.cut(s,3,labels=['Small','Medium','Large'])

0      Small
1     Medium
2      Small
3      Large
4      Small
5      Large
6     Medium
7     Medium
8      Small
9      Small
10    Medium
11    Medium
12    Medium
13     Small
dtype: category
Categories (3, object): [Small < Medium < Large]

In [9]:
s = range(1,20)
pd.DataFrame({'Values':s, 'Rank':pd.cut(s,3,labels=['first','second','third'])})

      Rank  Values
0    first       1
1    first       2
2    first       3
3    first       4
4    first       5
5    first       6
6    first       7
7   second       8
8   second       9
9   second      10
10  second      11
11  second      12
12  second      13
13   third      14
14   third      15
15   third      16
16   third      17
17   third      18
18   third      19